<div class="gh-box gh-medium" data-filter="card">
	<div class="card">
		<div class="thumbnail">
			<img src="https://unsplash.it/250/200" />
		</div>

		<div class="description">
			<hgroup class="header-information">
				<h2 class="type">Apartamento</h2>
				<h2 class="price">R$145.000,00</h2>
				<h3 class="location">Vila do Sol II</h3>
				<h3 class="status">Venda</h3>
			</hgroup>
			<div class="list-features">
				<ul class="features">
					<li class="item-feature"><i class="icon-g-bath"></i><span>2</span></li>
					<li class="item-feature"><i class="icon-g-bed"></i><span>2</span></li>
					<li class="item-feature"><i class="icon-g-car"></i><span>2</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>